<ul>
    
    @for (post of posts; track post) {
            <li>

                <mat-card class="post-card">
                    <a routerLink="/publicacao/{{post.id}}">
                        <mat-card-content>                
                            <mat-card-title class="title"> {{post.title}} </mat-card-title>
                            <mat-card-subtitle class="synopsis"> {{post.synopsis}} </mat-card-subtitle>
                            <p class="extra-info"> {{post.author.toString() | uppercase}} • {{post.publicationDate | date:"dd/MM/yy"}} </p>
                        </mat-card-content>
                    </a>
                    <mat-card-actions>
                        <mat-icon aria-hidden="false" aria-label="Share icon" fontIcon="share" class="share-icon" (click)="copyLinkToClipBoard(post.id)"></mat-icon>
                    </mat-card-actions>
                </mat-card>
                
            </li>
    }

    @if (posts.length === 0){
        <p class="posts-not-found">Nenhum publicação foi encontrada.</p>
    }
    
</ul>

<mat-paginator #paginator
               class="paginator"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               aria-label="Select page">
</mat-paginator>