<section class="post-container">
    @if (post) {
        <div class="header-info">
            <h1 id="title"><strong> {{post.title}} </strong></h1>
            <p id="synopsis">{{post.synopsis}}</p>
            <p><span id="author">{{post.author.toString() | uppercase}}</span> • <span id="release-date">{{post.publicationDate | date:"dd/MM/yy"}}</span> </p>
        </div>
        <hr class="custom-line">
        <div class="content-container">
            <p [innerHTML]=post.content></p>
        </div>
        <hr class="custom-line">
        <span class="space"></span>
    }
    @else{
        <p>Carregando...</p>
    }
    <app-footer></app-footer>
</section>

