<section class="post-container">
    @if (post) {
        <div class="header-info">
            <h1 id="title"><strong> {{post.title}} </strong></h1>
            <p id="synopsis">{{post.synopsis}}</p>
            <p><span id="author">{{post.author.toString() | uppercase}}</span> • <span id="release-date">{{post.publicationDate | date:"dd/MM/yy"}}</span> </p>
        </div>
        
        <div class="content-container">
            <p>
                {{post.content}}
            </p>
        </div>
    }
    @else{
        <p>Carregando...</p>
    }
    
</section>

