<section class="subscribe-panel">
    <img src="" alt="">
    
    <p class="description">Seja bem-vindo(a) à plataforma <strong>Newsletter</strong>.<br> Assine gratuitamente para receber as próximas publicações!</p>
    
    <form class="subscription-form">
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Digite o seu nome">       
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Digite o seu E-mail">
        </mat-form-field>

        <button mat-raised-button color="accent">Assine</button>
    </form>

</section>
