

<mat-card class="card-container">
    <h1>Página de pulicação</h1>
    <mat-card-content>
        <form [formGroup]="applyForm" #f="ngForm">
            <div class="form-inputs">
                
                <table class="example-full-width" cellspacing="0"><tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Título</mat-label>
                        <input matInput formControlName="title">
                        </mat-form-field>
                        @if (title.hasError('required') && title.touched) {
                            <mat-error>O título é <strong>obrigatório</strong></mat-error>
                        }
                        @if (title.hasError('maxLength')){
                            <mat-error>O título deve ter no <strong>máximo 256 caracteres</strong>.</mat-error>
                        }
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Autor(a)</mat-label>
                        <input matInput formControlName="author">
                        </mat-form-field>
                        @if (author.hasError('required') && author.touched) {
                            <mat-error>O nome do autor é <strong>obrigatório</strong></mat-error>
                        }
                        @if (title.hasError('maxLength')){
                            <mat-error>O título deve ter no <strong>máximo 256 caracteres</strong>.</mat-error>
                        }
                    </td>
                </tr></table>
                
                <p>
                    <mat-form-field class="example-full-width">
                        <mat-label>Sinopse</mat-label>
                        <textarea matInput formControlName="synopsis"></textarea>
                    </mat-form-field>
                </p>

                <ckeditor class="ckeditor" [config]="{placeholder: 'Escreva seu texto aqui.'}" [editor]="Editor" formControlName="content"></ckeditor>
                @if (content.hasError('required') && content.touched) {
                    <mat-error>O conteúdo é <strong>obrigatório</strong></mat-error>
                }
            </div>
        </form>

        <mat-card-actions class="button-container">
            <button mat-raised-button class="publish-button" (click)="confirmSubmitPostForm()">Publicar!</button>
        </mat-card-actions>

    </mat-card-content>
</mat-card>