/* You can add global styles to this file, and also import other style files */

//Fonts:
@import 'https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap'; //"Courier Prime", monospace

//Colors:
$primary-color: #FAFAFA;
$secondary-color: #E7E7E7;
$action-color: #265073;
$primary-text-color: #212121;
$secondary-text-color: #474747;

//Font-Size:

html, body { height: 100%; font-size: 62.5%; }
body { 
	box-sizing: border-box;
	text-decoration: none;
    list-style: none;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #FAFAFA;
}
