<footer>
    <div class="footer-columns">
        <section class="links">
            <h4>LINK</h4>
            <p routerLink="/">Home</p>
            <p routerLink="/sobre">Sobre</p>
        </section>
    
        <section class="contact">
            <h4>PROJETO</h4>
            <p><a href="https://github.com/YohansN/newsletter-system-page" target="_blank">Repositório Front-End</a></p>
            <p><a href="https://github.com/YohansN/newsletter-system-api" target="_blank">Repositório Back-End</a></p>
        </section>

        <section class="contact">
            <h4>CONTATO</h4>
            <p>yohans.dev&#64;gmail.com</p>
            <p><a href="https://www.linkedin.com/in/yohans-nascimento/" target="_blank">Linkedin</a></p>
        </section>

        
    </div>
    
    <p class="credits">©2024 - Desenvolvido por <a href="https://www.linkedin.com/in/yohans-nascimento/" target="_blank">Yohans.Dev</a></p>
</footer>
